<!--Main Navigation-->
<header class="intro-header">

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>My Life's Story</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <!-- li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Profile</a>
        </li -->
      </ul>
    </links>
  </mdb-navbar>

  <!-- Intro Section -->
  <div class="img-container">
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
      <div class="full-bg-img mask rgba-black-light">
        <div class="container flex-center">
          <div class="row  padding-top-25">
            <div class="col-md-12">
              <div class="text-center ">
                <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
                    <strong>Hey, I’m Mike</strong></h2>
                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                <h5 class="font-up mb-5 white-text wow fadeInDown backdrop" data-wow-delay="0.4s">
                    <strong>An architect, app developer and traveler living in the Miami, FL area. My days are filled with creating enterprise applications for my clients and company, Intellipoint, while focusing mainly on Full-Stack development in the cloud.  Bound by purpose, I teach courses, run tech conferences and live for the moment. </strong></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Main Navigation-->
