<div class="footerComponent">
 <footer class="footer">
    <div class="container">
        <h4 class="padding-top-15 text-center">{{footer.company}}</h4>
        <div class="text-center">
          <a href="https://www.facebook.com/bootsnipp">
            <i id="social-fb" class="fab fa-facebook fa-3x social"></i>
          </a>
                <a href="https://twitter.com/bootsnipp">
                  <i id="social-tw" class="fab fa-twitter fa-3x social"></i>
                </a>
                <a href="https://plus.google.com/+Bootsnipp-page">
                  <i id="social-gp" class="fab fa-google-plus fa-3x social"></i>
                </a>
                <a href="mailto:michael.vargas@intellipointcorp.com">
                  <i id="social-em" class="far fa-envelope fa-3x social"></i>
                </a>
        </div>
        <div class="copyright text-center secondary-text">
          {{footer.copyright}} <i class="far fa-copyright"></i>
        </div>
        <div class="text-center tertiary-text">
           {{footer.poweredBy}}
        </div>
    </div>
  </footer>
</div>
