<div class="footerComponent">
 <footer class="footer">
    <div class="container">

        <h4 class="padding-top-15 text-center">
         <a class="text-light" href="{{footer.homePage}}">{{footer.company}}</a>
        </h4>
        <div class="text-center">
                <a href="https://www.linkedin.com/company/intellipoint-corporation">
                  <i id="social-gp" class="fab fa-linkedin-in fa-3x social"></i>
                </a>
                <a href="https://www.facebook.com/Intellipoint-Corporation-814259331977513/about/">
                  <i id="social-fb" class="fab fa-facebook fa-3x social"></i>
                </a>
                <a href="https://twitter.com/intelliptinfo">
                  <i id="social-tw" class="fab fa-twitter fa-3x social"></i>
                </a>
                <a href="mailto:michael.vargas@intellipointcorp.com">
                  <i id="social-em" class="far fa-envelope fa-3x social"></i>
                </a>
        </div>
        <div class="copyright text-center secondary-text">
          {{footer.copyright}} <i class="far fa-copyright"></i> {{footer.year  | date: 'yyyy' }}
        </div>
        <div class="text-center tertiary-text">
          {{footer.poweredBy}} <br/>
          <!-- Start of WebFreeCounter Code -->
            {{footer.views}} <a href="{{footer.href}}" target="_blank"><img src="{{footer.imageSrc}}" border="0" alt="web counter"></a>
          <!-- End of WebFreeCounter Code -->
          <br/>

        </div>
    </div>
  </footer>
</div>
