i.social{
  color:white;
}

.social:hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
}
.social {
   -webkit-transform: scale(0.8);
   color: white;
   /* Browser Variations: */

   -moz-transform: scale(0.8);
   -o-transform: scale(0.8);
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   z-index: 3;
}

/*
  Multicoloured Hover Variations
*/

#social-fb:hover {
   color: #3B5998;
}

#social-tw:hover {
   color: #4099FF;
}

#social-gp:hover {
   color: #3B5998;;
}

#social-em:hover {
   color: #f39c12;
}

.footer {
  /*background: #262627;*/
  /*background: #fe4918; */
  background: linear-gradient( #fe4918, #262627 );
  color: white;
}

/** html .footer {
 position:absolute;
 top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}*/
