/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
html, body { height: 100%; }
body, h1, h2, h3, h4, h5, h5, p, div, span, ul, li, a {
  font-family: 'Raleway', open-sans;
}

.html {
  margin-left: calc(100vm - 100%);
  margin-right: 0;
}
