.good-reads-navbar {
  background: linear-gradient(45deg, black, purple);
}

.cover {
  background: linear-gradient(
    rgba(20,20,20, .5),
    rgba(20,20,20, .5)),
    url("../../assets/images/gtr.jpg");

    background-size: cover;
    background-blend-mode: saturation;
    opacity: .85;

    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

.easeEfx {
  animation-duration: 2s;
}

.margin-bottom-25 {
  margin-bottom: 5%;
}

.white-text  {
  color: white;
}

.padding-top-25 {
  padding-top: 15%;
  padding-bottom: 15%;
}

.padding-top-15 {
  padding-top: 15%;
}

.my-7 {
  margin-bottom: 6rem!important;
}

.pt-3, .py-3 {
  padding-top: 20rem!important;
}

.padding-top-3 {
  padding-top: 3%;
}

.uppercase {
  text-transform: capitalize;
}

.background {
  background: linear-gradient(grey, #444);
}

.padding-bottom {
  padding-bottom: 2%;
}
